.progress-container {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #f1e5d6;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    border: none;
    max-width: 1000px;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #6b4c3b;
    border-radius: 10px 0 0 10px;
    transition: width 0.3s ease-in-out;
    width: 0;

}

.progress-bar.full {
    width: 100%;
    border-radius: 10px;
}

.progress-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    user-select: none;
}
